<!-- Cards Start -->
<div class="row">
  <div class="cards">
    <div class="cards-col-lg">
      <div class="card-rank col-sm">
        <p>100</p>
      </div>
      <div class="col-sm card-img-div">
        <img
          class="card-img-resize"
          src="https://cdn.myanimelist.net/images/anime/1085/114792.jpg?s=bb4303c0804c9d5ca9fcb30b8f8e6783"
          alt="..."
        />
      </div>
      <div class="cards-content col-sm">
        <h1 class="score">Score</h1>
        <div class="content">
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
          <p>Lorem, ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cards End -->
