<div id="mySpinner" style="display: none">
  <div class="spinner-border text-primary" role="status"></div>
  <span><strong>Please wait while I fetch the data...</strong> </span>
  <!-- <iframe
    id="iframe-tube"
    width=""
    height=""
    src="https://www.youtube.com/embed/zzk09ESX7e0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe> -->
</div>
